<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comments</title>
        <script src="/static/jquery-3.0.0.min.js"></script>
    <script src="/static/jquery.tmpl.min.js"></script>
    <script id="id-template-tweet" type="text/x-jquery-tmpl">
         <p>
            ${ content }
            ${ created_time }
         </p>
    </script>
    <script>
        var bindAddTweetAction = function () {
            $('#id-button-add').on('click', function () {
                var self = $(this);
                var content = $('#id-input-content').val();
                var id = $('#id-content-comment').attr("tweet_id")
                var form = {
                    'content': content
                };
                console.log('form', form);

                var data = JSON.stringify(form);
                console.log('data', data);
                var request = {
                    url: '/tweet/comments/' + id,
                    type: 'post',
                    data: data,
                    contentType: 'application/json',
                    success: function (r) {
                        console.log(r);
                        if (r.success) {
                            console.log('add success', r);
                            $('#id-template-tweet').tmpl(r.data).insertAfter('#id-comment-title');
                            $('#id-input-content').val("");
                        }
                    },
                    error: function () {
                        console.log(r);
                    }
                };
                $.ajax(request);
            });
        };

        $(document).ready(function(){
            bindAddTweetAction();
        });
    </script>
</head>
<body>
    <P>
        您的用户名：{{ view_user.username }}
        关注用户：0
        粉丝：0
        <a href="/mytweet/{{ view_user.username }}">我的微博</a>
        <a href="{{ url_for('timeline',username=view_user.username) }}">返回首页</a>
    </P>

    <p id="id-content-comment" tweet_id="{{ one_tweet.id }}">
        <a href="/{{ one_tweet.user.username }}">{{ one_tweet.user.username }}</a>:
        {{ one_tweet.content }}
        {{ one_tweet.created_time }}
    </p>
    <div>
        <textarea id="id-input-content" name="content" placeholder="评论点什么"></textarea>
        <br>
        <button id="id-button-add">发表评论</button>
    </div>
    <h3 id="id-comment-title">所有评论：</h3>
    {% for c in one_tweet.comments %}
        <p>
            {{ c.user.username }}
            {{ c.content }}
            {{ c.created_time }}
        </p>
    {% endfor %}

</body>
</html>