<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myTweet</title>
    <script src="/static/jquery-3.0.0.min.js"></script>
    <script src="/static/jquery.tmpl.min.js"></script>
    <script id="id-template-tweet" type="text/x-jquery-tmpl">
         <p>
            ${ content } : ${ created_time }
            <a href="tweet/update/${ id }">编辑</a>
            <button class="button-delete" data-id="${ id }" >删除</button>
         </p>
    </script>
    <script>
        var bindDeleteAction = function() {
            $('body').on('click', '.button-delete', function () {
                var self = $(this);
                var tweet_id = this.dataset.id;
                var tweet_name = this.dataset.name;
                console.log('tid', tweet_id);
                console.log('tname', tweet_name);

                var request = {
                    url: '/tweet/delete/' + tweet_id,
                    type: 'get',
                    contentType: 'application/json',
                    success: function (r) {
                        console.log(r);
                        if (r.success) {
                            self.parent().remove();
                        }
                    },
                    error: function () {
                        console.log(r);
                    }
                };
                $.ajax(request);
            });
        };


        var bindAddTweetAction = function () {
            $('#id-button-add').on('click', function () {
                var self = $(this);
                var content = $('#id-input-content').val();
                var form = {
                    'content': content
                };
                console.log('form', form);

                var data = JSON.stringify(form);
                console.log('data', data);
                var request = {
                    url: '/mytweet',
                    type: 'post',
                    data: data,
                    contentType: 'application/json',
                    success: function (r) {
                        console.log(r);
                        if (r.success) {
                            console.log('add success', r);
                            $('#id-template-tweet').tmpl(r.data).insertAfter('#id-button-add')
                        }
                    },
                    error: function () {
                        console.log(r);
                    }
                };
                $.ajax(request);
            });
        };

        $(document).ready(function(){
            bindDeleteAction();
            bindAddTweetAction();
        });
    </script>
</head>
<body>
    <P>
        您的用户名：{{ user.username }}
        关注用户：0
        粉丝：0
        <a href="/mytweet/{{ user.username }}">我的微博</a>
        <a href="{{ url_for('timeline',username=user.username) }}">返回首页</a>
    </P>
    <div>
        <textarea id="id-input-content" name="content" placeholder="写点东西"></textarea>
        <br>
        <button id="id-button-add">添加微博</button>
    </div>
    {% for t in all_tweets %}
    <p>
        {{ t.content }} : {{ t.created_time }}
{#        <a href="{{url_for('tweet_update_view', tweet_id=t.id)}}">编辑</a>#}
        <a href="/tweet/update/{{t.id}}">编辑</a>
        <button class="button-delete" data-id="{{ t.id }}">删除</button>
    </p>
        <a href="/tweet/comments/{{ t.id }}">评论({{ t.comments|length }})</a>
    {% endfor %}
</body>
</html>