<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
{% block head %}
    {{ super() }}
    <script src="/static/js/jquery.tmpl.min.js"></script>
    <script src="/static/js/weibo.js"></script>
    <script src="/static/js/action.js"></script>
    <script id="id-template-tweet" type="text/x-jquery-tmpl">
            <p>
            ${ content }
            ${ created_time }
         </p>
    </script>
    <script>
        $(document).ready(function(){
            bindAddCommentAction();
        });
    </script>
    {% block title %}
        <title>comments</title>
    {% endblock %}
{% endblock %}
</head>
<body>
    {% block content %}
        <!-- Blog Entries Column -->
    <h1 class="page-header">
        评论
        <small>随便说点什么吧</small>
    </h1>
    <p class="lead" id="id-content-comment" data-id="{{ one_tweet.id }}">
        <a href="{{ url_for('controllers.other_tweet_view', username=one_tweet.user.username) }}">{{ one_tweet.user.username }}</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> {{ one_tweet.created_time }}</p>
    <hr>
    <div>
        <h3>{{ one_tweet.content }}</h3>
    </div>
    <hr>
    <div class="well">
        <h4>评论在下方:</h4>
        <div class="form-group"><textarea class="form-control" rows="5" id="id-input-content" name="content" placeholder="评论点什么"></textarea>
        </div>
        <button type="button" id="id-button-add" class="btn btn-primary">提交评论</button>
    </div>
    <h3 id="id-comment-title">所有评论：</h3>
    {% for c in comments %}
        <p>
            {{ c.user.username }}
            {{ c.content }}
            {{ c.created_time }}
        </p>
    {% endfor %}


    <!-- Pager -->
{#    <ul class="pager">#}
{#        <li class="previous">#}
{#            <a href="#">&larr; Newer</a>#}
{#        </li>#}
{#        <li class="next">#}
{#            <a href="#">Older &rarr;</a>#}
{#        </li>#}
{#    </ul>#}
    {% endblock %}

</body>
</html>