<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<body>
{% block content %}
        <!-- Blog Entries Column -->
    <h1 class="page-header">
        他的主页
        <small>他的微博</small>
    </h1>
    {% for t in all_tweets %}
    <!-- First Blog Post -->
    <br>
    <p class="lead">
        <a href="{{ url_for('controllers.other_tweet_view', username=t.user.username) }}">{{ t.user.username }}</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> {{ t.created_time }}</p>
    <hr>
    <div>
        {{ t.content }}
        <a href="/tweet/comments/{{ t.id }}"><h4>评论({{ t.comments|length }})</h4></a>
    </div>
{#    <a class="btn btn-primary" href="{{ url_for('controllers.other_tweet_view', username=all_tweets[0].user.username) }}">看看他的微博 <span class="glyphicon glyphicon-chevron-right"></span></a>#}
    <hr>
    {% endfor %}
    <!-- Second Blog Post -->



    <!-- Pager -->
{#    <ul class="pager">#}
{#        <li class="previous">#}
{#            <a href="#">&larr; Newer</a>#}
{#        </li>#}
{#        <li class="next">#}
{#            <a href="#">Older &rarr;</a>#}
{#        </li>#}
{#    </ul>#}
    {% endblock %}

    {% block sidebar %}
        {{ super() }}
        <!-- Blog Input Well -->
    {% endblock %}
</body>
</html>